.site-header, .site-footer {
    background-color: #1e194b;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.custom-modal-margin{
    margin-top: 150px;
    margin-left: 28%;
}
.custom-modal-size{
    max-width: 50%;
}
.years{
    margin-left: 10px;
}
.custom-select-size {
    height: 3rem;
    width: 200px;
}
.plusButton{
    height: 3rem;
    font-size: 1.2rem;
    margin-left: 10px;
}
.containerOfSelectedSubjects{
    margin-top: 20px;
    margin-left: 7px;
}


