.site-header, .site-footer {
    background-color: #1e194b;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.custom-modal-margin{
    margin-top: 150px;
    margin-left: 28%;
}
.custom-modal-size{
    max-width: 50%;
    margin-top: 50px;
}
.years{
    margin-left: 10px;
}
.custom-select-size {
    height: 3rem;
    width: 200px;
}

#selectedSubjectsContainer{
    margin-top: 20px;
    margin-left: 18px;
}

#subjects-container {
    padding: 50px;
}
#subjects-container2{
    margin-top: 30px;
}

.modal-backdrop {
    z-index: 1040 !important;
    opacity: 0.3 !important;
}
.modal {
    z-index: 1050 !important;
}
#errorModal{
    margin-top: 70px;
}

#errorModal .modal-content {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 15px;
}


#errorModal .modal-header {
    border-bottom: 1px solid #dc3545;
}


#errorModal .modal-body {
    font-size: 1.1em;
    color: #333;
    text-align: center;
}

#errorModal .modal-footer {
    justify-content: center;
}
