.login {
    --bs-btn-hover-bg: 0.3s;
}

.btn-login {
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
.plusButton{
    height: 3rem;
    font-size: 1.2rem;
    margin-left: 10px;
}
.center-container{
    margin-top: 20px;
}

