.login-form {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
}

.signup-form {
    margin-top: 60px;
}

.logout-form {
    background-color: transparent;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1e194b;
    color: white;
    text-align: center;
}