.login-form {
    width: 37.5rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.form-group {
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.signup-form {
    margin-top: 3.75rem;
}

.logout-form {
    background-color: transparent;
}