@import "layout.css";
@import "forms.css";
@import "typography.css";
@import "button.css";

body {
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.welcome-heading {
    text-align: center;
    margin-top: 90px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
}
