<html  xmlns="">
<link rel="stylesheet" href="../css/styles.css">
<body data-spy="scroll" data-target="#spy-scroll-id">
    <div class="footer site-header">
        <footer id="spy-scroll-id" class="site-header sticky-bottom py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-2"><a href="/privacyPolicy">Privacy_Police</a></div>
                <div class="col-sm-12 col-md-6 col-lg-2"><a href="/imprint">Imprint</a></div>
            </div>
        </footer>
    </div>
</body>
</html>