body {
    .AppleSystemUIFontAppleSystemUIFont;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    background: linear-gradient(#ff008c, #0ad2ff, #3cfa50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


h6 {
    background: linear-gradient(#ff008c, #0ad2ff, #3cfa50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.parentOfHeadline {
    text-align: center;
    background-color: #1e194b;
    height: 80px;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
}

.appName {
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 60px;
    background-color: transparent;
}

.registrationLink {
    display:inline-block;
    float: right;
    margin: 20px;
    color: black;
}


.MenuBar {
    display: inline-block;
    float: left;
    text-align: left;
    height: 100%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 30px;
    position: fixed;
    left: 0;
    background-color: #1e194b;
    opacity: 0.8;
}

.parentOfRectangles {
    text-align: center;
    background-color: transparent;
    margin-top: 150px;
}


.rectangle1 {
    width: 40%;
    height: 300px;
    margin: 20px 20px 20px 40px;
    display: inline-block;
    background-image: linear-gradient(to right, #ff008c, #0ad2ff, #3cfa50);

}

.rectangle2 {
    width: 40%;
    height: 300px;
    margin: 20px 40px 20px 20px;
    display: inline-block;
    background-image: linear-gradient(to right, #ff008c, #0ad2ff, #3cfa50);
}

.rectangle3 {
    width: 70%;
    height: 300px;
    display: inline-block;
    justify-content: center;
    background-image: linear-gradient(to right, #ff008c, #0ad2ff, #3cfa50);
}

.rectangle4 {
    width: 40%;
    height: 300px;
    margin: 20px 20px 20px 40px;
    display: inline-block;
    background-image: linear-gradient(to right, #ff008c, #0ad2ff, #3cfa50);
}

.rectangle5 {
    width: 40%;
    height: 300px;
    margin: 20px 40px 20px 20px;
    display: inline-block;
    background-image: linear-gradient(to right, #ff008c, #0ad2ff, #3cfa50);
}