<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="site-header sticky-top py-1">
    <div class="col-sm-12 col-md-6 col-lg- 1"><a href="/"><h1><span style="color: #ff008c">You</span><span style="color: #6ed2f0">rGr</span><span style="color: #3cfa50">ade</span></h1></a></div>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <div class="col-sm-12 col-md-6 col-lg-2"><a href="/">HOME</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2"><a href="/grades">GRADES</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2"><a href="/chat">CHAT</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2"><a href="/help">HELP</a></div>
        <div class="col-sm-12 col-md-6 col-lg-2"><a href="/settings">SETTINGS</a></div>

        <div class="col-sm-12 col-md-6 col-lg-2" sec:authorize="!isAuthenticated()">
            <a href="/register">Sign up</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2" sec:authorize="!isAuthenticated()">
        <a href="/login">LOG IN</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2" sec:authorize="isAuthenticated()">
        <a href="/index">log out</a>
        </div>
    </div>
</nav>

