.parentOfHeadline {
    text-align: center;
    background-color: #1e194b;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 60px;
    background: linear-gradient(#ff008c, #0ad2ff, #3cfa50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.appName {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
}
.HomepageLink {
    display:inline-block;
    float: right;
    margin: 20px;
    color: black;
}

h6 {
    text-align: center;
    margin-top: 15px;
    background: linear-gradient(#ff008c, #0ad2ff, #3cfa50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}