<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" href="../css/general.css">
</head>
<body>
    <form action="#" th:action="@{/user}" th:object="${users}" method="post">
        <p>Signup<a href="/signup">here</a></p>
        <table>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Usertype</th>
            </tr>
            <tr th:each="item : ${users}">
                <td><p th:text="${item.getId()}"></p></td>
                <td><p th:text="${item.getFirstName()}"></p></td>
                <td><p th:text="${item.getLastName()}"></p></td>
                <td><p th:text="${item.getUserName()}"></p></td>
                <td><p th:text="${item.getEmail()}"></p></td>
                <td><p th:text="${item.getUserType()}"></p></td>
            </tr>
        </table>
    </form>
</body>
</html>